body {
  background: #f7fafc; }

body, html, #bg, #content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

#content {
  box-sizing: border-box;
  position: absolute;
  z-index: 2; }
  #content .left, #content .right, #content section {
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out; }
  #content section {
    width: 100%;
    display: block;
    box-sizing: border-box; }
    #content section > div {
      height: 100%; }
    #content section h4 {
      border-bottom: 2px #0f88eb solid;
      margin: 0;
      min-width: 128px; }
      #content section h4 img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-top: -5px; }
      #content section h4 em {
        white-space: nowrap;
        position: relative;
        font-style: normal;
        background: #0f88eb;
        color: #fff;
        display: inline-block;
        width: 110px;
        height: 30px;
        line-height: 32px; }
        #content section h4 em::before, #content section h4 em::after {
          position: absolute;
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-style: solid; }
        #content section h4 em::before {
          left: -18.4px;
          border-width: 16px 9.2px;
          border-color: transparent #0f88eb transparent transparent; }
        #content section h4 em::after {
          border-width: 32px 18.4px;
          border-color: transparent transparent transparent #0f88eb;
          top: 0;
          right: -36px;
          clip: rect(0 19px 30px 0); }
  #content .left, #content .right {
    box-sizing: border-box;
    min-height: 100%; }
  #content .left {
    width: 35%;
    padding: 30px 15px 30px 30px;
    float: left; }
  #content .right {
    width: 65%;
    padding: 30px 30px 30px 15px;
    float: right; }
  #content .b, #content .d {
    margin-top: 30px; }

@media (max-width: 490px) {
  #content .left, #content .right {
    min-height: auto;
    width: 100%;
    float: none; }
  #content .left {
    padding: 20px 20px 10px 20px; }
  #content .right {
    padding: 10px 20px 20px 20px; }
  #content .b, #content .d {
    margin-top: 20px; } }
#bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  #bar ul {
    padding: 30px 0;
    margin-top: 30px; }
  #bar .key {
    text-align: right;
    line-height: 40px;
    max-width: 38%;
    padding-right: 7%;
    white-space: nowrap;
    color: #0c63a9;
    font-weight: bold; }
    #bar .key img {
      width: 24px;
      height: 24px;
      vertical-align: middle; }
  #bar .value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border-left: 2px #0f88eb solid; }
    #bar .value li {
      height: 40px; }
      #bar .value li:nth-child(1) {
        background-color: #007ac6;
        width: 80%; }
      #bar .value li:nth-child(2) {
        background-color: #328ed5;
        width: 87%; }
      #bar .value li:nth-child(3) {
        background-color: #63b9fb;
        width: 73%; }
      #bar .value li:nth-child(4) {
        background-color: #88cafc;
        width: 90%; }

/*# sourceMappingURL=p.css.map */
