body{
	background: #f7fafc;
}
body, html, #bg, #content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#bg{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
$blue: #0f88eb;
#content{
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	.left, .right, section{
		transition: .2s ease-out;
		-webkit-transition: .2s ease-out;
	}
	section{
		width: 100%;
		display: block;
		box-sizing: border-box;
		// padding: 20px;
		>div{
			box-shadow: 0 0 1px $blue inset;
			height: 100%;
		}
		h4{
			border-bottom: 2px $blue solid;
			margin: 0;
			min-width: 128px;
			em{
				position: relative;
				font-style: normal;
				background: $blue;
				color: #fff;
				display: inline-block;
				width: 100px;
				height: 30px;
				line-height: 32px;
				padding-left: 10px;
				&::before, &::after{
					position: absolute;
					display: block;
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
				}
				&::before{
					left: -18.4px;
					border-width: 16px 9.2px;
					border-color: transparent $blue transparent transparent;
				}
				&::after{
					border-width: 32px 18.4px;
					border-color: transparent transparent transparent $blue;
					top: 0;
					right: -36px;
					clip: rect(0 19px 30px 0);
				}
			}
		}
		p{
			color: #fff;
		}
	}
	.left, .right{
		box-sizing: border-box;
		min-height: 100%;
		p{
			// color: #fff;
		}
	}
	$p: 30px;
	.left{
		width: 35%;
		padding: $p $p/2 $p $p;
		float: left;
	}
	.right{
		width: 65%;
		padding: $p $p $p $p/2;
		float: right;
	}
	.b, .d{
		margin-top: $p;
	}
}

@media(max-width:490px){
	
#content{
	.left, .right{
		min-height: auto;
		width: 100%;
		float: none;
	}
	$p: 20px;
	.left{
		padding: $p $p $p/2 $p;
	}
	.right{
		padding: $p/2 $p $p $p;
	}
	.b, .d{
		margin-top: $p;
	}
}
}